<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="/Components/style.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,regular,500,600,800,"
        rel="stylesheet" />
</head>
<script src="/Components/script.js"> </script>

<body>
    <div class="container">
        <div class="header">
            <h2 class="title">Where in the world? </h2>
            <p> <i class="fa-regular fa-moon"></i> &nbsp;&nbsp;Dark Mode </p>
        </div>
    </div>

    <div class="container1">

        <div class="form-control">
            <input type="text" placeholder="Search For Country">
            <i class="fas fa-search search"></i>
        </div>

        <div class="dropdownCon">
            <div class="dropdown">
                <p class="p">Filter By Region</p>
                <button> <i class="fas fa-chevron-down"></i></button>
                <!-- </div> -->
                <div class="showDropDown">
                    <p class="region">All</p>
                    <p class="region">Africa</p>
                    <p class="region">America</p>
                    <p class="region">Asia</p>
                    <p class="region">Europe</p>
                    <p class="region">Oceania</p>
                </div>
            </div>
        </div>
    </div>


    <div class="countries">


    </div>

</body>

</html>